.wrapper {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.wrapper-input {
    position: relative;
    display: flex;
    align-items: center;
}


.input {
    width: 300px;
    height: 30px;
}

.input:focus {
    border-color: gray;
}

.wrapper-input img {
    width: 5%;
    cursor: pointer;
    position: absolute;
}

.wrapper-input svg {
    width: 20%;
    cursor: pointer;
    position: absolute;
    fill: gray;
    transition: 200ms;
    top: 50%;
    transform: translateY(-50%);
}

.arrowAfter {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 65%;
    width: 1px;
    height: 110%;
    background-color: gray;
}

.arrow {
    right: 75%;
}

.arrow:hover {
    fill: black;
}

.list {
    right: 3%
}

.list:hover {
    fill: black;
}

.clearInput {
    right: 35%;
}

.clearInput:hover {
    fill: black;
}

.wrapper-svg {
    position: absolute;
    width: 30%;
    height: 80%;
    right: 4px;
    background-color: white;
}

.dropdownList {
    position: absolute;
    top: 110%;
    left: 2%;
    text-align: left;
    margin: 0;
    padding: 0;
    height: 200px;
    width: 77%;
    background-color: rgba(220, 220, 220, 0.11);
    overflow: scroll;
}

.dropdownList > li {
    list-style: none;
    padding: 2px;
}

.dropdownList > li:hover {
    background-color: gainsboro;
    cursor: pointer;
}


.wrapper-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: black;
    opacity: 0.35;
    z-index: 20;
}

.modal {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 350px;
    min-height: 250px;
    background-color: white;
    z-index: 21;
    top: 50%;
    left: 50%;
    padding: 2px;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}
